<html>
    
    <style>
        #barra{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(230, 226, 226);
            }
        #barra li{
            display: inline;
            margin: 0 20px;
            }
    </style>
    <!-- Esta plantilla se va inscrustar en otra para evitar repetir fragmentos de codigo -->
    <!-- EN la carpeta de templates es ideal organizar las plantilas en diferentes directorios -->
    <body>
        <ul id="barra"> 
            <li>Home</li>
            <li>Productos</li>
            <li>Contacto</li>
            <li>Sobre nosotros</li>

        </ul>
    </body>


</html>