<html>
    <body>
        <h1 style="text-align:center">
            Probando Lista y demas
            <br>
            Fecha: {{fecha_actual.day}}/{{fecha_actual.month}}/{{fecha_actual.year}}
        <h1/>
        <p>
            <strong>Lista de temas:</strong>
            <ul>
                {% if temas %}
                    {% for tema in temas %}
                        <li>{{tema}}</li>
                    {% endfor %}
                {% else %}
                    <li>No hay temas</li>
                {% endif %}
            </ul>
            
        </p>
    <body/>
<html/>